[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pint = "*"

[dev-packages]
codecov = "*"
coverage = "*"
pytest = "*"
pytest-cov = "*"
Sphinx = "*"
sphinx_rtd_theme = "==0.4.0"
onshapepy = {editable = true, path = "."}
pytest-runner = "*"
jupyter = "*"
ipykernel = "*"

[requires]
python_version = "3.5"
