[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
requests = "*"
codecov = "*"
coverage = "*"
pytest = "*"
pytest-cov = "*"
Sphinx = "*"
sphinx_rtd_theme = "==0.4.0"

[requires]
python_version = "3.6"
